<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" media="all"
	href="css/bootstrap.min.css"></link>
</head>
<body>
	<div th:if="${imageInfo}">
		<h3>Similarity Info of image</h3>
		<table class="table table-bordered">
			<tr>
				<th>Image Id</th>
				<th>Caption</th>
				<th>similarity</th>h
			</tr>
			<tr th:each="resultVal : ${imageInfo} ">
				<td th:text="${resultVal.id}">image id</td>
				<td th:text="${resultVal.imageCapiton}">image caption</td>
				<td th:text="${resultVal.results}">similarity</td>
			</tr>
		</table>
	</div>
	<div th:if="${imageProcessTime}">

		<h3>Process Time of image</h3>
		<table class="table table-bordered">
			<tr>
				<th>Image Id</th>
				<th>Caption</th>
				<th>MilliSeconds</th>
				<th>NanoSeconds</th>
			</tr>
			<tr th:each="resultVal : ${imageProcessTime} ">
				<td th:text="${resultVal.id}">image id</td>
				<td th:text="${resultVal.imageCaption}">image caption</td>
				<td th:text="${resultVal.processTimeMillis}">time in millis</td>
				<td th:text="${resultVal.processTimeNanos}">time in nanos</td>
			</tr>
		</table>
	</div>

</body>
</html>